<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdptuning.gdptuning">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBarOrangeMain">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WifiActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".InfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TuneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LiveDataActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LiveDataBarActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FeaturesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DiagnosticsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LiveDataActivity2"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarOrangeMain.SlidrActivityTheme" />
        <activity
            android:name=".LiveDataActivityNewSpeed"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity android:name=".LiveDataActivityNewSpeed2" />
        <activity
            android:name=".LiveDataBarActivity2"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
    </application>

</manifest>